* {
  font-family: 'Lato', sans-serif;

}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.profile-picture {
  height: 90%;
  width: 90%;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
  margin: 10px auto;
}

.btn {
  flex: 1 1 auto;
  margin: 15px 10px 8px 8px;
  padding: 9px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

.btn:hover {
  background-position: right center;
}

.nav-btn {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%)
}

.home-btn {
  margin-left: 20px;
  background-color: #3b997d;
}

.cart-btn {
  margin-right: 20px;
}

.gradient {
  /* background: rgb(34,193,195); */
  /* background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 50%, rgba(253,187,45,1) 100%); */
  /* background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%); */
}

body {
  background: #b1ddcb;
  background-size: cover;
}

nav {
  float: right;
}

.profile-card {
  background-color: #c0c6d1;
  margin: 10px auto;
  padding: 20px 10px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profile-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cool-header {
  text-shadow: 3px 3px 5px #CCCCCC;
  color: #ecfcff;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
              0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
              0 0 40px #A5F1FF;
}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
